@import "./../common/colors.scss";

.loginForm {
  &__input {
    display: block;
    margin: 2vh;
  }

  &__message {
    color: color('red');
    font-size: .8rem;
    text-align: center;
  }

  //TODO: check how to override material styles properly (without !important)
  &__button {
    background-color: color('primary') !important;
    color: white !important;
    margin-top: 10vh !important;
  }
}
